.liquidCarousel {

}

.liquidCarousel .previous, .liquidCarousel .next {
	display:block;
	height:126px;
	width:64px;
	margin:0;
	padding:0;
	background-repeat: no-repeat;
	cursor: pointer;
}

.liquidCarousel .previous {
	background-image:url('../img/previous.png');
	float:left;
	background-position-x: 9px;
}

.liquidCarousel .next {
	background-image:url('../img/next.png');
	float:right;
	background-position-x: 7px;
}

.liquidCarousel ul li {
	padding:0 2px;
	margin:0;
}

.liquidCarousel ul li a img {
	-webkit-box-shadow: 5px 5px 3px #222;
	box-shadow: 5px 5px 3px #222;
}

.liquidCarousel img {
	width: 240px;
	border: 5px solid white;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	-ms-transition: border 0.5s;
	transition: border 0.5s;
}

.liquidCarousel img:hover {
	border: 5px solid #FE3700;
}